In [15]:
import pandas as pd

df=pd.read_csv('adult.csv')

df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [16]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [17]:
df['sex']=df['sex'].map({'Male':0,'Female':1})

In [18]:
df['marital.status'].unique()

array(['Widowed', 'Divorced', 'Separated', 'Never-married',
       'Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [19]:
df['marital.status']=df['marital.status'].replace(['Widowed','Divorced','Separated','Never-married'],0)
df['marital.status']=df['marital.status'].replace(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse'],1)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,0,?,Not-in-family,White,1,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,0,Exec-managerial,Not-in-family,White,1,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,0,?,Unmarried,Black,1,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,0,Machine-op-inspct,Unmarried,White,1,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,0,Prof-specialty,Own-child,White,1,0,3900,40,United-States,<=50K

In [20]:
df.drop(labels=['workclass','education','occupation','relationship','race','native.country'],axis=1,inplace=True)

In [21]:
df.head(10)

,age,fnlwgt,education.num,marital.status,sex,capital.gain,capital.loss,hours.per.week,income
0,90,77053,9,0,1,0,4356,40,<=50K
1,82,132870,9,0,1,0,4356,18,<=50K
2,66,186061,10,0,1,0,4356,40,<=50K
3,54,140359,4,0,1,0,3900,40,<=50K
4,41,264663,10,0,1,0,3900,40,<=50K
5,34,216864,9,0,1,0,3770,45,<=50K
6,38,150601,6,0,0,0,3770,40,<=50K
7,74,88638,16,0,1,0,3683,20,>50K
8,68,422013,9,0,1,0,3683,40,<=50K
9,41,70037,10,0,0,0,3004,60,>50K

In [38]:
y=df['income']
x=df.drop(labels=['income'],axis=1)

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

models=[]
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
models.append({'LR',LogisticRegression()})
models.append({'KNN',KNeighborsClassifier()})

In [25]:
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score,StratifiedKFold, LeaveOneOut, RepeatedKFold
results=dict()
for name,model in models:
  kFold=KFold(n_splits=10,random_state=7,shuffle=True)
  cv_results=cross_val_score(model,x_train,y_train,cv=kFold,scoring='accuracy')
  results[name]=(cv_results.mean(),cv_results.std())

print()
print("result  result.mean    result.std")
for name,result in results.items():
  print(name,result)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

result  result.mean    result.std
LR (0.7976047775310977, 0.007756322376721198)
KNN (0.7754143779981189, 0.009084459642974708)

In [34]:
results=dict()
for name,model in models:
  stratifiedkFold=StratifiedKFold(n_splits=10,random_state=7,shuffle=True)
  cv_results=cross_val_score(model,x_train,y_train,cv=stratifiedkFold,scoring='accuracy')
  results[name]=(cv_results.mean(),cv_results.std())

print()
print("result  result.mean    result.std")
for name,result in results.items():
  print(name,result)

result  result.mean    result.std
LR (0.7976810075153831, 0.004939045265893285)
KNN (0.7771419284077943, 0.007579841656816673)

In [37]:
results=dict()
for name,model in models:
  repeatedkFold=RepeatedKFold(n_splits=10, n_repeats=3, random_state=7)
  cv_results=cross_val_score(model,x_train,y_train,cv=repeatedkFold,scoring='accuracy')
  results[name]=(cv_results.mean(),cv_results.std())

print()
print("result  result.mean    result.std")
for name,result in results.items():
  print(name,result)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

result  result.mean    result.std
LR (0.7973741711408108, 0.006436575783635108)
KNN (0.7757728500766085, 0.007481118375390769)